# Canonical Name <canonical@email>  Other Name <other@email>
# Note: Canonical name and email must match CONTRIBUTORS
#
Ahmed Irfan <ahmed.irfan@alumni.unitn.it>  Ahmed Irfan <43099566+ahmed-irfan@users.noreply.github.com>
Ahmed Irfan <ahmed.irfan@alumni.unitn.it>  Ahmed Irfan <ahmed.irfan@alumni.unitn.it>
Ahmed Irfan <ahmed.irfan@alumni.unitn.it>  Ahmed Irfan <irfan@fbk.eu>
Andrea Micheli <micheli.andrea@gmail.com>  mikand <micheli.andrea@gmail.com>
Andrea Micheli <micheli.andrea@gmail.com>  MikAnd <micheli.andrea@gmail.com>
Ankit raj ojha <anoj123anru@gmail.com>  ankit01ojha <anoj123anru@gmail.com>
Cristian Mattarei <cristian.mattarei@gmail.com>  Cristian Mattarei <mattarei@stanford.edu>
Samuele Gallerani <samuele@gallerani.com>  fontealpina <fontealpina@users.noreply.github.com>
Samuele Gallerani <samuele@gallerani.com>  Gallerani <samuele@gallerani.com>
Taylor Hodge <j.taylor.hodge@gmail.com>  Jason Taylor Hodge <j.taylor.hodge@gmail.com>
Leonard Truong <lenny@stanford.edu>  Lenny Truong <lenny@stanford.edu>
Lukas Dresel <lukas.dresel@cs.ucsb.edu>  Lukas-Dresel <Lukas-Dresel@users.noreply.github.com>
Marco Gario <marco.gario@gmail.com>  marcogario <marco.gario@email.it>
Marco Gario <marco.gario@gmail.com>  Marco Gario <marco.gario@email.it>
Marco Gario <marco.gario@gmail.com>  Marco Gario <marcogario@github.com>
Radomir Stevanovic <radomir.stevanovic@gmail.com>  Radomir Stevanovic <radomir@dwavesys.com>
Yoni Zohar <yoni206@gmail.com>  yoni206 <yoni206@users.noreply.github.com>
Yuri Malheiros <yurimalheiros@gmail.com>  yurimalheiros <yurimalheiros@gmail.com>
Enrico Magnago <en.magnago@gmail.com> Enrico Magnago <EnricoMagnago@users.noreply.github.com>
Enrico Magnago <en.magnago@gmail.com> en <en.magnago@gmail.com>
Enrico Magnago <en.magnago@gmail.com> Enrico Magnago <magnago@fbk.eu>
Caleb Donovick <donovick@cs.stanford.edu> Caleb Donovick <cdonovick@users.noreply.github.com>
M. Fareed Arif <fareed.arif@yahoo.com> farif <fareed.arif@yahoo.com>