language: python

env:
  global:
    - PYSMT_CUSTOM_BINDINGS_PATH="FALSE"

matrix:
  include:
  # Linux - Python 3.7
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="all"       PYSMT_GMPY="TRUE"
  - os: linux
    python: 3.7
    sudo: required
    dist: xenial
    env: PYSMT_SOLVER="all"       PYSMT_GMPY="FALSE"
  - os: linux
    python: 3.7
    sudo: required
    dist: xenial
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="TRUE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="msat"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="z3"        PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="cvc4"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="yices"     PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="bdd"       PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="picosat"   PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="btor"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="msat_wrap" PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 3.7
    env: PYSMT_SOLVER="z3_wrap"   PYSMT_GMPY="FALSE"

  # Linux - Python 2.7
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="all"       PYSMT_GMPY="TRUE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="all"       PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="TRUE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="msat"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="z3"        PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="cvc4"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="yices"     PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="bdd"       PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="picosat"   PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="btor"      PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="msat_wrap" PYSMT_GMPY="FALSE"
  - os: linux
    sudo: required
    dist: xenial
    python: 2.7
    env: PYSMT_SOLVER="z3_wrap"   PYSMT_GMPY="FALSE"

  # Linux - PyPy
  - os: linux
    sudo: required
    dist: xenial
    python: pypy3.5
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="TRUE"
  - os: linux
    sudo: required
    dist: xenial
    python: pypy3.5
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="FALSE"

  # OSX - Python 3.6
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="msat,z3,yices"       PYSMT_GMPY="TRUE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="msat,z3,yices"       PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="TRUE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="msat"      PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="z3"        PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  # - os: osx
  #   osx_image: xcode9.4
  #   language: generic
  #   python: 3.6
  #   env: PYSMT_SOLVER="cvc4"      PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="yices"     PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  # - os: osx
  #   osx_image: xcode9.4
  #   language: generic
  #   python: 3.6
  #   env: PYSMT_SOLVER="bdd"       PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  # - os: osx
  #   osx_image: xcode9.4
  #   language: generic
  #   python: 3.6
  #   env: PYSMT_SOLVER="picosat"   PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  # - os: osx
  #   osx_image: xcode9.4
  #   language: generic
  #   python: 3.6
  #   env: PYSMT_SOLVER="btor"      PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="msat_wrap" PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: 3.6
    env: PYSMT_SOLVER="z3_wrap"   PYSMT_GMPY="FALSE"   TRAVIS_PYTHON_VERSION="3.6.5"

  # OSX - PyPy
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: pypy
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="TRUE"   TRAVIS_PYTHON_VERSION="pypy3.5-5.10.1"
  - os: osx
    osx_image: xcode9.4
    language: generic
    python: pypy
    env: PYSMT_SOLVER="None"      PYSMT_GMPY="FALSE"   PYSMT_CYTHON="FALSE"   TRAVIS_PYTHON_VERSION="pypy3.5-5.10.1"


git:
  depth: 10


cache:
  apt: true
  directories:
  - ${HOME}/.cache/pip
  - ${HOME}/Library/Caches/Homebrew # For MacOSX
  #- ${HOME}/python_bindings
  - ${VIRTUAL_ENV}


addons:
  apt:
    packages:
    - python-setuptools
    - python-nose
    - python-pip
    - python-dev
    - make
    - build-essential
    - libgmp-dev
    - autoconf
    - libtool
    - wget
    - curl
    - libboost-dev
    - python3-all-dev
    - libmpc-dev


before_install:
  - "./ci/travis_before_install.sh"


install:
  - "./ci/travis_install.sh"


script:
  - "./ci/travis_script.sh"


after_success:
  - "./ci/travis_after_success.sh"